{% extends "basic.html" %}
{% load static %}
{% block content %}
<div class="site-blocks-cover" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
          <div class="site-block-cover-content text-center">
            <h2 class="sub-title">Effective Medicine, New Medicine Everyday</h2>
            <h1>Welcome To Health Finda</h1>
            <p>
              <a href="/" class="btn btn-primary px-5 py-3">Comming Soon</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}