{% extends "basic.html" %}
{% load static %}
{% block content %}
<style>
  .tabs {
    display: flex;
  }

  .tab {
    padding: 10px 20px;
    background-color: black;
    
    cursor: pointer;
    color:white;
  }

  .tab.active {
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    border-top: 1px solid blue;
  }

  .content {
    display: none;
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid blue;
  }

  .content.active {
    display: block;
  }
</style>
<div class="site-blocks-cover" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto order-lg-2 align-self-center">
          <div class="site-block-cover-content text-center">
            <div class="tabs">
              <div class="tab active" onclick="showContent(1)">By Speciality</div>
              <div class="tab" onclick="showContent(2)">By Name or Practice</div>
              <div class="tab" onclick="showContent(3)">Telehealth</div>
            </div>
            <div class="content active" id="content1">
              Content for Tab 1
              <ul>
                  <li>fjakldjfl</li>
                  <li>dlfjla</li>
                  <li>sjfl</li>
                  <li>fajdlk</li>
                  <li>sakjfl</li>
              </ul>
            </div>
            <div class="content" id="content2">
              Content for Tab 2
            </div>
            <div class="content" id="content3">
              Content for Tab 3
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script>
    function showContent(tabNumber) {
      // Hide all content elements
      const contents = document.querySelectorAll('.content');
      contents.forEach(content => {
        content.classList.remove('active');
      });

      // Show the selected content
      const selectedContent = document.getElementById(`content${tabNumber}`);
      selectedContent.classList.add('active');

      // Remove the active class from all tabs
      const tabs = document.querySelectorAll('.tab');
      tabs.forEach(tab => {
        tab.classList.remove('active');
      });

      // Add the active class to the selected tab
      const selectedTab = document.querySelector(`.tab:nth-child(${tabNumber})`);
      selectedTab.classList.add('active');
    }
  </script>
{% endblock content %}